#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}


#background {
    height: 725px;
    background-color: #e5e5e5;
}

body {
    background-color: #fcfbfb;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(20, 30, 13, 0.7); 
}

nav a {
    text-decoration: none;
    color: #000; 
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: black; 
    color: #d9c2a3;
}

.book,
.join {
    background-color: #ff5733; 
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
}

.book:hover,
.join:hover {
    background-color: #ff2600; 
    color: #fff; 
}

.msg {
    background-color: #333; 
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
}

h2 {
    margin: 0;
}

.msg h2 {
    color: #dcd6d6; 
    font-family: 'Gabarito', cursive;
}

.msg p {
    color: #bcb0b0; 
    font-size: 0.8em;
    padding-bottom: 15px; 
}


.home-title {
    color: #333;
    font-family: 'Gabarito', cursive;
    font-size: 2em;
    margin-top: 10px; 

}

h4 {
    color: #444; 
}



footer {
    background-color: #333;
    color: #fff; 
    font-family: 'Gabarito', cursive;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #fff; 
}

footer a:hover {
    color: #d9c2a3;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em; 
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px; 
}

.walgreens-card, .maverick-card, .Chik-fil-A{
    margin: 200px 0;
}

.card-img {
    border: 10px solid green; 
}

main section img { 
box-sizing: border-box;
}

